/* Card Design  */



.card {
    text-align: justify;
    margin-top: 20px;
    margin-left: 17px;
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 5px 3px 2px 2px lightslategrey;
  }

  .coursesCard img {
    width: 100%;
    height: 200px;
  }